@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="main">
    <div class="form">
        <h3>найти</h3>
        <span>Имя: </span>
        <input class="form-part" type="text" name="" id="readerName"><br>
        <button onclick="GetReaderByName()">искать</button>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Дата раждения</th>
            <th>Телефон</th>
            <th>Все книжи на руках на руках</th>
            <th>просроченные книжки</th>
            <th>посмотреть историю</th>
            <th>выдать книжу</th>
        </tr>
    </thead>
    <tbody>
     
    </tbody>
</table>